{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="formTheme">
  {{ form_start(form) }}
  <div class="form_item">
    {{ form_label(form.name, 'Nom') }}
    <div class="errorInput">
      {{ form_widget(form.name) }}
      {{ form_errors(form.name) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.firstName, 'Prénom') }}
    <div class="errorInput">
      {{ form_widget(form.firstName) }}
      {{ form_errors(form.firstName) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.phoneNumber, 'Téléphone') }}
    <div class="errorInput">
      {{ form_widget(form.phoneNumber) }}
      {{ form_errors(form.phoneNumber) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.address, 'Adresse') }}
    <div class="errorInput">
      {{ form_widget(form.address) }}
      {{ form_errors(form.address) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.companyName, 'Nom de l\'entreprise') }}
    <div class="errorInput">
      {{ form_widget(form.companyName) }}
      {{ form_errors(form.companyName) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.email, 'E-mail') }}
    <div class="errorInput">
      {{ form_widget(form.email) }}
      {{ form_errors(form.email) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.password.first, 'Mot de passe') }}
    <div class="errorInput">
      {{ form_widget(form.password.first) }}
      {{ form_errors(form.password.first) }}
    </div>
  </div>

  <div class="form_item">
    {{ form_label(form.password.second, 'Confirmation du mot de passe') }}
    <div class="errorInput">
      {{ form_widget(form.password.second) }}
      {{ form_errors(form.password.second) }}
    </div>
  </div>

  <div class="formCheckbox">
    <div>
      {{ form_label(form.news_letter, 'Newsletter') }}
      <div class="errorInput">
        {{ form_widget(form.news_letter) }}
        {{ form_errors(form.news_letter) }}
      </div>
    </div>
  </div>
  <div class="center continueSubmit">
    <button type="submit" class="continue pop">S'inscrire</button>
  </div>
  {{ form_end(form) }}
</div>
