<header class="fullCenter headerDesk pop">
    <div class="centerBetween fullWidth headerBackground">
        <div class="flexStart midWidth UpperHeader">
            <a href="#">Contact</a>
            <a href="{{ path('diyList') }}">DIY</a>
        </div>
        <div class="flexEnd midWidth UpperHeader">
            <a class="pro" href="{{ path('proServiceList') }}">Espace pro</a>

            {% if is_granted('ROLE_USER') %}
                <a class="pro" href="{{ path('account') }}">
                    {{ app.user.name }}
                    {% include 'svg/user.svg.twig' %}
                </a>

                <a class="pro" href="{{ path('logout') }}">Logout</a>

            {% else %}

                <a class="pro connect-pop-toggle">
                    {% include 'svg/user.svg.twig' %}
                </a>

            {% endif %}

                <a href="{{ path('basket') }}">
                    {% include 'svg/basket.svg.twig' %}
                </a>
        </div>
    </div>
    <nav class="centerBetween fullWidth">
        <div class="flexStart midWidth LowerHeader LowerHeaderLeft">
            <a href="{{ path('homepage') }}"><h1 class="gel-bold">Eco<br/>service</h1></a>
        </div>
        {% include '@fo/partials/menu.html.twig' %}
    </nav>
</header>
<header class="centerAround headerMob">
    <div class="thirdWidth icoPlaceMobLeft">
        {% include 'svg/mobile-menu.svg.twig' %}
    </div>
    <div class="thirdWidth center">
        <h1 class="gel-bold">Eco<br/>service</h1>
    </div>
    <div class="thirdWidth icoPlaceMobRight">
        <div class="burger">
            <div class="contenu" id="rotation">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </div>
    <div id="burger_nav" class="overlay fullCenter">
        <div class="overlay-content" id="a_list">
            <div><a href="{{ path('homepage') }}">Accueil</a></div>
            <div>
            {# TODO Back, afficher connexion lorsque user non connecté et compte lorsque utilisateur connecté #}
                <a class="connec-res" connec="false" href="#">Connexion</a>
            </div>
            <div><a>Espace pro</a></div>
            <hr>
            <div><a class="nav_green_color">Recherche</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <div><a class="nav_green_color">Catégorie 1</a></div>
            <hr>
            <div><a>DIY</a></div>
            <div><a>Contact</a></div>
        </div>
    </div>
</header>

{% if is_granted('ROLE_USER') == false %}
    {{ popLogin(currentRoute)|raw}}
{% endif %}