{% extends '@fo/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('productList', null, 'front_office') }}
{% endblock %}

{% block main %}
    <div class="top-category">
        <div class="green-top-page">
            <h1 class="gel-bold">Catégorie</h1>
            <p class="gel">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna. </p>
        </div>
        <div class="products-list products-list-top">
            <a href="#" class="product-minia">
                <div>
                    <img src="{{ asset('images/produit.png') }}">
                    <div class="description">
                        <h2 class="gel-bold">Lorem</h2>
                        <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <h2 class="gel-bold">Lorem</h2>
                <p class="pop">XX.xx €</p>
            </a>
            <a href="#" class="product-minia">
                <div>
                    <img src="{{ asset('images/produit.png') }}">
                    <div class="description">
                        <h2 class="gel-bold">Lorem</h2>
                        <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <h2 class="gel-bold">Lorem</h2>
                <p class="pop">XX.xx €</p>
            </a>
        </div>
    </div>
    <div class="products-list">
        <a href="#" class="product-minia">
            <div>
                <img src="{{ asset('images/produit.png') }}">
                <div class="description">
                    <h2 class="gel-bold">Lorem</h2>
                    <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <h2 class="gel-bold">Lorem</h2>
            <p class="pop">XX.xx €</p>
        </a>
        <a href="#" class="product-minia">
            <div>
                <img src="{{ asset('images/produit.png') }}">
                <div class="description">
                    <h2 class="gel-bold">Lorem</h2>
                    <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <h2 class="gel-bold">Lorem</h2>
            <p class="pop">XX.xx €</p>
        </a>
        <a href="#" class="product-minia">
            <div>
                <img src="{{ asset('images/produit.png') }}">
                <div class="description">
                    <h2 class="gel-bold">Lorem</h2>
                    <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <h2 class="gel-bold">Lorem</h2>
            <p class="pop">XX.xx €</p>
        </a>
        <a href="#" class="product-minia">
            <div>
                <img src="{{ asset('images/produit.png') }}">
                <div class="description">
                    <h2 class="gel-bold">Lorem</h2>
                    <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <h2 class="gel-bold">Lorem</h2>
            <p class="pop">XX.xx €</p>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('productList', null, 'front_office') }}
{% endblock %}
