{% extends '@fo/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('productShow', null, 'front_office') }}
{% endblock %}

{% block main %}
    <hr class="sep-header">
    <a class="btn-back pop" href="#">Retour</a>
    <div class="cont-top-produit">
        <div class="cont-top-produit-img">
            <img src="{{ asset('images/produit.png') }}">
        </div>
        <div class="cont-top-produit-des">
            <div>
                <h1 class="gel-bold">Produit</h1>
                <p class="pop">Catégorie</p>
            </div>
            <p class="description pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna. </p>
            <p class="prix serge-bold">XX,xx €</p>
        </div>
        <div class="cont-top-produit-spec">
            <div class="int-spec">
                <div class="spec quantite">
                    <p class="pop">Quantité</p>
                    <div>
                        <p class="serge">-</p>
                        <p class="serge-bold">0</p>
                        <p class="serge">+</p>
                    </div>
                </div>
                <div class="spec taille">
                    <p class="pop">Taille</p>
                    <div>
                        <ul>
                            <li class="serge">S</li>
                            <li class="serge">M</li>
                            <li class="serge">L</li>
                            <li class="serge">XL</li>
                        </ul>
                    </div>
                </div>
                <div class="spec couleur">
                    <p class="pop">Couleur</p>
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-ajouter pop-bold">Ajouter</a>
        </div>
    </div>
    <div class="cont cont-draglist-product">
        <div class="draglist">
            <div class="croix">
                <div></div>
                <div></div>
            </div>
            <p class="title pop">Lorem</p>
            <div class="hide">
                <p class="title-hide pop-bold">Lorem</p>
                <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.</p>
            </div>
        </div>
        <div class="draglist">
            <div class="croix">
                <div></div>
                <div></div>
            </div>
            <p class="title pop">Lorem</p>
            <div class="hide">
                <p class="title-hide pop-bold">Lorem</p>
                <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.</p>
            </div>
        </div>
        <div class="draglist">
            <div class="croix">
                <div></div>
                <div></div>
            </div>
            <p class="title pop">Lorem</p>
            <div class="hide">
                <p class="title-hide pop-bold">Lorem</p>
                <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.</p>
            </div>
        </div>
    </div>
    <div class="cont cont-list-comments">
        <div class="cont-comment">
            <div class="cont-title">
                <p class="pop-bold">Lorem</p>
                <div class="cont-stars">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                </div>
                <p class="pop date">01/01/2020</p>
            </div>
            <p class="pop comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
                Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
            </p>
        </div>
        <div class="cont-comment">
            <div class="cont-title">
                <p class="pop-bold">Lorem</p>
                <div class="cont-stars">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                </div>
                <p class="pop date">01/01/2020</p>
            </div>
            <p class="pop comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
                Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
            </p>
        </div>
        <div class="cont-comment">
            <div class="cont-title">
                <p class="pop-bold">Lorem</p>
                <div class="cont-stars">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-full" src="{{  asset('images/star-full.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                    <img class="star-empty" src="{{  asset('images/star-empty.svg') }}">
                </div>
                <p class="pop date">01/01/2020</p>
            </div>
            <p class="pop comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
                Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna.
            </p>
        </div>
    </div>

    <p class="gel-bold title-suggest">Suggestions</p>

    <div class="cont-item">
        <div>
            <div class="cont-item-img">
                <a href="#"><img src="{{ asset('images/produit.png') }}"></a>
            </div>
            <p class="gel-bold">Lorem</p>
        </div>
        <div>
            <div class="cont-item-img">
                <a href="#"><img src="{{ asset('images/produit.png') }}"></a>
            </div>
            <p class="gel-bold">Lorem</p>
        </div>
        <div>
            <div class="cont-item-img">
                <a href="#"><img src="{{ asset('images/produit.png') }}"></a>
            </div>
            <p class="gel-bold">Lorem</p>
        </div>
        <div>
            <div class="cont-item-img">
                <a href="#"><img src="{{ asset('images/produit.png') }}"></a>
            </div>
            <p class="gel-bold">Lorem</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('productShow', null, 'front_office') }}
{% endblock %}
