{% extends '@fo/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('productList', null, 'front_office') }}
{% endblock %}

{% block main %}
    <div class="top-category">
        {% include "@fo/partials/category-header.html.twig" with { 'name': category.name ,'description': category.description, 'image': category.image } %}

    {% if products|length < 1 %}
        <div>{{ 'empty.product'|trans|raw }}</div>
    {% endif %}
    {% for product in products %}
        {% if loop.index == 1 %}
        <div class="products-list products-list-top">
        {% endif %}

            <a href="{{ path('productShow',{ slug: product.slug, comeFromCategory: slug }) }}" class="product-minia">
                <div>
                    <img src="{{ vich_uploader_asset(product, 'imageFile')}}">
                    <div class="description">
                        <h2 class="gel-bold">{{ product.name }}</h2>
                        <p class="pop">{{ product.description|slice(0, 50)}}...</p>
                    </div>
                </div>
                <h2 class="gel-bold">{{ product.name }}</h2>
                <p class="pop">{{ product.price }} €</p>
            </a>
            {% if loop.index == 2 %}
        </div>
    </div>
        <div class="products-list">
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('productList', null, 'front_office') }}
{% endblock %}
