{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('diyList', null, 'front_office') }}
{% endblock %}

{% block title %}{{ 'allDiy'|trans|raw }}{% endblock %}

{% block main %}
    {% if  diys.currentPage == 1 %}
    <div class="top-page">
        <div class="green-top-page">
            <h1 class="gel-bold">{{ 'diy.info.title'|trans }}</h1>
            <p class="gel">{{ 'diy.info.desc'|trans }}</p>
        </div>
        <div>
            <img src="{{ asset('images/diy.png') }}">
        </div>
    </div>
    {% endif %}
    <form class="search-diy">
        <input type="text" class="diy-bar" placeholder="Recherche">
        <input type="submit" class="input-diy pop-bold">
    </form>
    <div class="cont-item">
        {% for diy in diys %}
            <div>
                <div class="cont-item-img">
                    <a href="{{ path('diyShow', { slug: diy.slug}) }}"><img src="{{ vich_uploader_asset(diy, 'imageFile') }}" alt="{{ diy.image }}"></a>
                </div>
                <p class="gel-bold">{{ diy.name }}</p>
            </div>
        {% endfor %}
    </div>

    {{ paginate(diys, 'diyList', 4)|raw }}

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('diyList', null, 'front_office') }}
{% endblock %}