<h1>Demande de devis</h1>
<div class="Container">
    <h3>Nom du titulaire de la demande: </h3>
    {{ name }}
    <h3>Prénom du titulaire de la demande: </h3>
    {{ firstName }}
    <h3>Nom de la société: </h3>
    {{ companyName }}
    <h3>Adresse de la société: </h3>
    {{ address }}
    <h3>Numéro de téléphone de la société: </h3>
    {{ phoneNumber }}
    <h3>Email de la société: </h3>
    {{ email }}
    <h3>Service poubelle jaune: </h3>
    {{ yellowTrashCan }}
    <h3>Service poubelle bleu: </h3>
    {{ blueTrashCan }}
    <h3>Inscription a la Newsletter:</h3>
    {{ news_letter }}
</div>