{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('homepage', null, 'front_office') }}
{% endblock %}

{% block main %}
    <section class="centerBetween fullWidth alignInit" id="entreprise">
        <article class="midWidth">
            <h2 class="gel-sBold">Entreprise</h2>
            <p class="pop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, facere! Reiciendis incidunt
                facere repudiandae necessitatibus eligendi. Inventore vel, tenetur quia, alias aperiam</p>
            <button class="pop">En savoir plus</button>
        </article>
        <div class="midWidth">
            <img src="{{ asset('images/entreprise.jpg') }}" alt="entreprise">
        </div>
    </section>

    <section class="centerBetween fullWidth alignInit" id="zerodechet">
        <article class="midWidth">
            <h2 class="gel-bold">Zéro déchets</h2>
            <p class="pop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, facere! Reiciendis incidunt facere repudiandae necessitatibus eligendi. Inventore vel, tenetur quia, alias aperiam</p>
            <button class="pop">En savoir plus</button>
        </article>
        <div class="midWidth">
            <img src="{{ asset('images/dechet.jpg') }}" alt="dechet">
        </div>
    </section>

    <section id="produit">
        <div>
            <p class="gel-sBold">Produits</p>
        </div>
        <div class="fullCenter">
            <div class="produit_space">
                <div class="itemsList">
                    <article class="fullCenter">
                        <img src="{{ asset('images/produit.jpg') }}" alt="produit"/>
                        <h3 class="gel-sBold">Lorem</h3>
                    </article>

                    <article class="fullCenter">
                        <img src="{{ asset('images/produit.jpg') }}" alt="produit"/>
                        <h3 class="gel-sBold">Lorem</h3>
                    </article>
                </div>
                <div class="itemsList">
                    <article class="fullCenter">
                        <img src="{{ asset('images/produit.jpg') }}" alt="produit"/>
                        <h3 class="gel-sBold">Lorem</h3>
                    </article>

                    <article class="fullCenter">
                        <img src="{{ asset('images/produit.jpg') }}" alt="produit"/>
                        <h3 class="gel-sBold">Lorem</h3>
                    </article>
                </div>
            </div>
        </div>
        <div class="center">
            <button class="pop">Voir plus</button>
        </div>
    </section>

    <section class="fullWidth" id="pro_parti">
        <article class="midWidth fullCenter" id='pro'>
            <h4 class="pop-sBold">Professionnel</h4>
            <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="pop">Lorem</button>
        </article>
        <article class="midWidth fullCenter" id='parti'>
            <h4 class="pop-sBold">Particulier</h4>
            <p class="pop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="pop">Lorem</button>
        </article>
    </section>

    <section class="" id="recette">
        <div>
            <p class="gel-sBold">Dernières recettes</p>
        </div>
        <div class="fullCenter">
            <div class="produit_space">
                <div class="itemsList">
                    <article class="fullCenter">
                        <img src="{{ asset('images/recette.jpg') }}" alt="recette"/>
                    </article>

                    <article class="fullCenter">
                        <img src="{{ asset('images/recette.jpg') }}" alt="recette"/>
                    </article>
                </div>
                <div class="itemsList">
                    <article class="fullCenter">
                        <img src="{{ asset('images/recette.jpg') }}" alt="recette"/>
                    </article>

                    <article class="fullCenter">
                        <img src="{{ asset('images/recette.jpg') }}" alt="recette"/>
                    </article>
                </div>
            </div>
        </div>
        <div class="center">
            <button class="pop">Voir plus</button>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('homepage', null, 'front_office') }}
{% endblock %}