{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block title %}Gestion Adresse{% endblock %}

{% block main %}
    <header class="mb-4">
        <h1>Adresse de livraison</h1>
    </header>
    {% include '@fo/forms/address-form.html.twig' %}
    <input type="submit" form="address-form" value="{{ actionMode ?? 'add'|trans|raw }}" class="btn btn-primary">
    <a href="{{ path('account') }}">{{ 'back'|trans }}</a>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}