{% extends '@fo/layout.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block links %}
  {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block body %}

  <!-- Admin login -->
  <div class="fullCenter admin">
    <h1 class="gel-bold">Connexion au panel d'administration</h1>
    <div class="formTheme">
      {{ form_start(form) }}
      <div class="form_item">
        {{ form_label(form._username, 'Email') }}
        <div class="errorInput">
          {{ form_widget(form._username) }}
          {{ form_errors(form._username) }}
        </div>
      </div>

      <div class="form_item">
        {{ form_label(form._password, 'Mot de passe') }}
        <div class="errorInput">
          {{ form_widget(form._password) }}
          {{ form_errors(form._password) }}
        </div>
      </div>
      <div class="center continueSubmit">
        <button type="submit" class="continue pop">Se connecter</button>
      </div>
      <div class="center">
        <a href="{{ path('homepage') }}" class="btn btn-default">{{ 'Revenir à l\'accueil'|trans|raw }}</a>
      </div>
      {{ form_end(form) }}
    </div>
  </div>


{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}
