{% extends '@fo/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}
    <div class="container">
        <header class="mb-4">
            <h1>Mon compte</h1>
        </header>

        <nav class="account-nav">
            <ul class="nav nav-tabs user-account-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Compte</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('accountPurchaseList') }}" class="nav-link active">Commandes</a>
                </li>
            </ul>
        </nav>

        {% include 'bundles/EasyAdminBundle/default/flash_messages.html.twig' %}

        Nom : {{ account.name }}
        <br>
        Prenom : {{ account.firstName }}
        <br>
        Téléphone : {{ account.phoneNumber }}
        <br>
    {#    Adresse : {{ account.address }}#}
        <br>
        Email : {{ account.Username }}
        <br>
        Entreprise : {{ account.companyName }}
        <br>
        <a href="{{ path('accountUpdate') }}"><button type="submit" class="btn btn-lg btn-success btn-submit">Edit</button></a>

        <div>
            {% if addresses is defined %}
                <div>
                    {% for address in addresses  %}
                        {{ address.firstName }} <br>
                        {{ address.firstName }}
                        {{ address.address}}
                        <a href="{{ path('accountAddress', {'id': address.id } ) }}"></a>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{{ path('accountAddress') }}">Ajouter une addresse</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}