{% extends '@fo/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}
    <div class="container-account">
        <div class="container-info">
            <h1 class="gel-bold">Mon compte</h1>

            <div class="btn-contain">
                <a href="{{ path('accountPurchaseList') }}">Commandes</a>
                <a href="{{ path('accountUpdate') }}">Edit</a>
            </div>

            {% include 'bundles/EasyAdminBundle/default/flash_messages.html.twig' %}
            {#  TODO julien review front  #}
            <div class="content-account">
                <p class="serge-bold">Nom : </p> <p class="serge">{{ account.name }}</p>
                <p class="serge-bold">Prenom : </p> <p class="serge">{{ account.firstName }}</p>
                <p class="serge-bold">Téléphone : </p> <p class="serge">{{ account.phoneNumber }}</p>
                {# Adresse : {{ account.address }}#}
                <p class="serge-bold">Email : </p> <p class="serge">{{ account.Username }}</p>
                <p class="serge-bold">Entreprise : </p> <p class="serge">{{ account.companyName }}</p>
            </div>

            <div class="btn-contain">
                {% if addresses is defined %}
                    <div>
                        {% for address in addresses  %}
                            {{ address.firstName }} <br>
                            {{ address.firstName }}
                            {{ address.address}}
                            <a href="{{ path('accountAddress', {'id': address.id } ) }}"></a>
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('accountAddress') }}">Ajouter une addresse</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}